/* Fonts */
$roboto-bold: "Roboto-Bold";
$roboto-medium: "Roboto-Medium";
$roboto-regular: "Roboto-Regular";

/* Breakpoints */
$s-small: 320px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/* Z-index */
$z-back: -1;
$z-none: 0;
$z-floor: 1;
$z-medium: 10;
$z-up: 50;
$z-top: 100;
$z-super: 200;

/* Colors */
$white: #fff;
$black: #000;
$cultured: #f8f9fa;
$ligth-gray: #ced4da;
$state-gray: #6c757d;
$gunmetal: #343a40;
$charleston-green: #212529;

$navy-blue: #212529;
$star-command-blue: #0077b6;
$sky-blue-crayola: #48cae4;
$powder-blue: #caf0f8;
