@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

/*
SPACING SYSTEM
2/ 4/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128/


FONT SIZE SYSTEM
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98/
*/

.add-btn {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 0px 0px 6px $state-gray;
  background-color: $sky-blue-crayola;
  cursor: pointer;
}

.add-btn__plus {
  stroke: $cultured;
}

.--rotated {
  transform: rotate(45deg);
}
